* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(22, 76, 100);
}

.main {
    border: 1px solid white;
    margin: 20px auto;
    width: 600px;
    height: 602px;
}

.main div {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}

.red {
    background-color: red;
    animation: anired;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes anired {
    0% {top: -221px;}
    100% {top: 0;}
}

.yellow {
    background-color: yellow;
    animation: aniyellow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes aniyellow {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.green {
    background-color: green;
    animation: anigreen;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    position: relative;
    transform: rotateY(0deg);
}
@keyframes anigreen {
   0% {transform: rotateY(360deg)}
}